body{background-color:black;color:#efefef;}
.card{
	width: 400px;
	height:300px;
/*	тень, где отступ по X, отступ по Y, размер тени, цвет тени*/
	
/*	внешний отступ*/
	margin: 30px;
	border-radius: 20px;
	margin-bottom: 150px; 
}
.card_h1{
	text-align: center;
}
.card_p{
	padding-left: 5px;
	padding-right: 5px;
}
.card_div_img{
	width: 400px%;
	height: 300px;
	border-radius: 20px;
}
.card_img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.all_card{
	width: 100%;
/*	свойство флекс, которое делает отображение элементов подвижно*/
	display: flex;
/*	фиксирует элементы по центру по вертикали*/
	align-items: center;
/*	фиксирует элементы по центру по горизонтали*/
	justify-content: center;
	flex-wrap: wrap;
}

.menu_button{
	width: 150px;
	background-color: black;
	color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 0px white;
	margin-left: 10px;
	margin-right: 10px;
	transition: 0.1s;
}
.buttons_card{
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card_img2{
	width: 100%;
	height: 100%;
	border-radius: 40px;
	box-shadow: 4px 4px 5px blue;
	height: auto;
	margin: 60px;
	align-items: center;
	display: flex;
	justify-content: center;
}

}
.nadpis{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.buttons_card1{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card_nadpis{
	width:100%;
	display:flex;
	justify-content: center;
	margin-top:30px;
}
.nadpis{
	width:920px;
	
	
	border-radius:40px;
	text-align: center;
}

.card, .nadpis{
	transition: 0.1s;
/*	box-shadow:0px 0px 40px white;*/
	cursor:deafult;
}
.card:hover{
	transition: 0.1s;
	box-shadow:0px 160px 40px white;
	cursor: pointer;
}
.nadpis:hover{
	transition: 0.1s;
	box-shadow:0px 0px 40px white;
	cursor: pointer;
}

.card_div_img{
	top: 0;
	left: 0;
	transform: translateY(-50px);
	transition: 0.1s;
}

	
.card_div_img:hover{
	transform: translateY(50px);
	transition: 0.1s;
}

.menu_button:hover {
	transition: 0.1s;
	box-shadow:0px 0px 20px blue;
	cursor: pointer;
}
.card:hover{
	height: 300px;
}
.card:hover .card_div_img{
	transform: translateY(50px);
	transition: 0.1s;
}
